html{
	background: radial-gradient(circle, #45A29E, #0B0C10);
}
.name {
	margin-left: 20px;
	padding-top: 20px;
	color:  #c5c6c7;
}
.headerLinks{
	margin-right: 30px;
	float: right;
}
.headerLinks a{
	padding-left: 10px;
}
.upperHR{
	background-color: #2d3a4a;
	width: 1024px;
	height: 10px;
}
.lowerHR{
	background-color: #2d3a4a;
	width: 1024px;
	height: 10px;
}
.Container{
	background-repeat: inherit;
	background-position: left top;
	background-attachment: fixed;
	margin-right: auto;
	margin-left:  auto;
	width: 1024px;
	background-color: #1f2833;
}
.NavBar{
	width: 1024px;
	background-color: #141a21;
	overflow: hidden;
	white-space: nowrap;
}
.NavBar ul{
	margin-right: auto;
	margin-left:  auto;
}
.NavBar a{
	color: #367d7b;
	padding: 22px 25px;
	position: relative;
	right: 40px;
	text-decoration: none;
	font-size: 20px;
}
.NavBar a:hover{
	background-color: #ddd;
	color: black;
}
.NavBar a.active{
	background-color: #04AA6D;
	color: white;
}
.itemDisplay{
	columns: 2;
	display:block;
	padding-top: 15px;
	padding-right: 15px;
}
.ProjectDisplay p{
	color: #c5c6c7;
}
.ProjectDisplay h1{
	color: #367d7b;
}
.ProjectDisplay a{
	color: #367d7b;
}
.AboutMe{
	color: #c5c6c7;
	padding: 20px;
}
.AboutMe h1{
	color: #367d7b;
}
.Footer{
	width: 1024px;
	bottom: 0;
	background-color: #141a21;
}
.Footer h3{
	padding-bottom: 20px;
	color: #c5c6c7;
}